.form{

  display: flex;
  justify-content: center;
}

.cousel{

  display:  flex;
  justify-content: center;
  margin: 200px;
}
.forms{
  display: flex;
  justify-content: center;

}
.drop{
 display: flex;
 justify-content: center;
 background-color:yellow ;
}
.cards{
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  margin: 50px;
}
.cards img {
  width: 300px;
  height: 300px;
}